<div class="col-sm-9  col-md-10" id="calendar" ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar" ng-show="listViewType=='calendar'"></div>
   <div class="col-md-2 col-sm-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
               CALENDAR OPTIONS
            </div>
            <div class="panel-body">
                <ul class="media-list" ng-repeat="item in userslist">
                        <li class="media">
                           <div class="media-body">
                               <div class="media">

                                   <div class="media-body" >
                                       <input type="checkbox" class="pull-left"  ng-model="item.selected" ng-change="userselect(item)">
                                       <small style="font-weight: bold;" class="text-muted">{{item.intitule}}</small>                                      
                                   </div>
                               </div>

                           </div>
                       </li>
    
                 </ul>
              </div>
            </div>
        
    </div>
</div> 