<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-sm">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Project name</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse ">
          <ul class="nav navbar-nav navbar-left left-menu-bar"> 
               <li>
                 <a href="#" ng-click="discussionModule()">Discussions</a> 
              </li>   
              <li>
                 <a href="#"  ng-click="calendrierModule()">Calendrier</a> 
              </li>   
          </ul>
          <ul class="nav navbar-nav "  ng-repeat=" module in modules">
            <li><a href="#"  ng-click="getModule(module)">{{module.label}}</a></li>
            <!-- <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-left left-menu-bar"> 
              <li ng-hide="hideApplicationModule()">
                 <a href="#"  ng-click="applicationModule()">Applications</a> 
              </li>   
              <li ng-hide="hideConfiguration()">
                 <a href="#"  ng-click="configurationModuleAction()">Configuration</a> 
              </li>   
          </ul>
          
           <ul class="nav navbar-nav navbar-right left-menu-bar">   
               <li style="margin: 0px;">                  
                    <a href="#" ng-click="discussionModule()" style="border-width: 0px;padding: 4px;" data-toggle="tooltip" data-placement="bottom" title="Boîte de réception">
                        <span > 
                            <span class="glyphicon glyphicon-envelope"  aria-hidden="true" style="display: inline-block;margin: 0px;">                                    
                            </span>
                            <span class="label label-danger" ng-hide="numberofnewmessages==0" style="display: inline-block;font-size: 70%;margin: 0px;">
                              {{numberofnewmessages}}
                           </span> 
                       </span>  
                    </a> 
                                    
              </li>    
              <li style="margin: 0px;">
                  <a  data-target="#" data-toggle="dropdown" ng-click="tchat()" aria-haspopup="true" role="button" aria-expanded="true" style="width: 1px;border-width: 0px;margin: 0px;"  data-toggle="tooltip" data-placement="bottom"  title="Conversation">
                    <span class="glyphicon glyphicon-comment"  aria-hidden="true" style="margin: 0px;"></span>
                  </a> 
                  <ul class="dropdown-menu media-list"  role="menu">
                       <li role="presentation" class="media" style="padding-left: 5px;"   ng-repeat="item in tchatinput">                           
                            <div class="media-body">
                                <div class="media">
                                    <a class="pull-left" href="#"   ng-click="tchatwindow(item)">
                                        <img class="media-object img-circle" style="max-height:40px;" src="img/photo.png" />
                                    </a>                                        
                                    <div class="media-body" >
                                        <a href="#" ng-click="tchatwindow(item)">
                                            <h5 class="text-muted">{{item.designation}}</h5>   
                                        </a>
                                                                        
                                    </div>
                                </div>
                            </div>                        
                     </li>                     
                  </ul>                     
              </li>         
              <li  class="dropdown">
                  <a  id="Administration" data-target="#" data-toggle="dropdown" 
                      aria-haspopup="true" role="button" aria-expanded="true">
                        Administration
                       <span class="caret"></span>
                  </a> 
                  <ul class="dropdown-menu"  role="menu"  aria-labelledby="Administration">
                     <li role="presentation">
                       <a role="menuitem"   tabindex="-1" href="#" >Documentation</a>
                     </li>
                     <li role="presentation">
                       <a role="menuitem"   tabindex="-1" href="#" >Assistance</a>
                     </li>
                     <li role="presentation" class="divider"></li>
                     <li role="presentation">
                       <a role="menuitem"   tabindex="-1" href="#" >Préference</a>                     
                     </li>
                     <li role="presentation">
                       <a role="menuitem"   tabindex="-1" href="#" ng-click="updatePassword()">Modifier le mot de passe</a>                     
                     </li>
                     <li role="presentation">
                         <a role="menuitem"   tabindex="-1" href="#" ng-click="deconnexion()">Déconnexion</a>
                     </li>
                  </ul>                                     
              </li>
          </ul>
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> style="margin-top: -10px;" -->        
        </div>
      </div>
    </nav>
   
    <div class="container-fluid"  style="margin-top: -10px;">
      <div class="row">   
         <ng-include src="'views/verticalMenuView.html'"  ng-show = "enabledVerticalMenu == true"></ng-include>
         <header-builder entity-metadata="{{metaData}}"  full-screen="{{enabledVerticalMenu}}" 
                       select-action="{{currentAction}}"     data-value="{{modules}}"   ng-show="hideOther==false">             
         </header-builder>        
        <div ng-controller="calendarCtrl">
          <ng-include src="'modules/calendrier/views/calendar.html'"  ng-show = "showCalendar==true"></ng-include>
         <div/>
         <div ng-controller="discussionCtrl">
          <ng-include src="'modules/discussions/views/discussion.html'"  ng-show = "showDiscussion==true"></ng-include>
         <div/>
         <!-- <ng-include src="'views/contentViewWithVMenu.html'"  ng-show = "enabledVerticalMenu == true"></ng-include>         
        <ng-include src="'views/detailView.html'"  ng-show = "enabledVerticalMenu == false"></ng-include> -->
      </div>
    </div>
    <div id="tchatBodyContent" style="border:solid 1px green;position:fixed;z-index:9000; width:100%;top:100%;text-align:right;background-color:white"></div>;
   